.inputtask-flex-container {
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 5px 5px rgba(56, 56, 56, 0.2);
  padding: 10px;

  margin: 10px 10px;
}

.inputtask-flex-container input[type="text"],
.inputtask-flex-container textarea {
  margin: 10px 10px 0px 10px;
  padding: 5px;
}

.inputtask-flex-container input[type="text"] {
  height: 35px;
}

.inputtask-flex-container textarea {
  resize: none;
}

.inputtask-flex-container button {
  background-color: rgb(46, 95, 148);
  cursor: pointer;
  color: white;

  height: 35px;
  margin: 12px 10px 10px 10px;
}

.inputtask-editing {
  display: flex;
}

.inputtask-editing button {
  padding: 0 10px;
  width: 100%;
}

.inputtask-editing button:nth-child(1) {
  background: rgb(80, 80, 80);
}

.inputtask-editing button:nth-child(2) {
  background: rgb(46, 95, 148);
}

