.inputtask-flex-container {
  display: flex;
  flex-direction: column;

  border: 2px solid rgb(0, 72, 139);
  border-radius: 10px;

  margin: 10px 10px;
}

.inputtask-flex-container input[type="text"],
.inputtask-flex-container textarea {
  margin: 10px 10px 0px 10px;
  padding: 5px;
}

.inputtask-flex-container input[type="text"] {
  height: 35px;
}

.inputtask-flex-container textarea {
  resize: none;
}

.inputtask-flex-container button {
  background-color: rgb(0, 72, 139);
  cursor: pointer;
  color: white;

  height: 35px;
  margin: 12px 10px 10px 10px;
}
